@font-face {
  font-family: Silkscreen-Bold;
  src: url(./resources/fonts/Silkscreen-Bold.ttf);
}

@font-face {
  font-family: Silkscreen-Regular;
  src: url(./resources/fonts/Silkscreen-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Silkscreen-Regular, Silkscreen-Bold, Verdana, Geneva, Tahoma, sans-serif;
}


.display-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}